.dashboard-container {
    display: flex;
    flex-direction: column; /* Default to column for smaller screens */
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Adds spacing for better responsiveness */
    background: linear-gradient(90deg, rgb(13, 186, 199) 0%, rgb(245, 134, 7) 35%, rgb(208, 255, 0) 100%);
    text-align: center;
}

/* For tablets and larger screens */
@media (min-width: 768px) {
    .dashboard-container {
        flex-direction: row; /* Switch to row for larger screens */
        padding: 40px;
        text-align: center;

    }
}

/* For extra-large screens */
@media (min-width: 1200px) {
    .dashboard-container {
        padding: 60px;
        text-align: center;

    }
}
